{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="index__banner">
    <h1>Blablabla</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illo aliquid accusantium dolorem ex! Beatae numquam, sint dolor officiis quod, obcaecati porro, voluptas quam aperiam a vitae vero? Esse, quibusdam!</p>
</div>
<div class="index__second-section">
    <h1>Des films à succès</h1>
    <div class="second-section__popular-movies">
        <div class="popular-movies__movie">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_Ratio0.6762_AL_.jpg" alt="Affiche du film">
            <h3>titre film</h3>
            <i class="fas fa-star"></i>
            <span>6.8</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eveniet iure? Vel minima assumenda corporis provident dolore consequuntur, vero odit facilis. Veniam qui minus ad ex distinctio quidem adipisci quod.</p>
        </div>
        <div class="popular-movies__movie">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_Ratio0.6762_AL_.jpg" alt="Affiche du film">
            <h3>titre film</h3>
            <i class="fas fa-star"></i>
            <span>6.8</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eveniet iure? Vel minima assumenda corporis provident dolore consequuntur, vero odit facilis. Veniam qui minus ad ex distinctio quidem adipisci quod.</p>
        </div>
        <div class="popular-movies__movie">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_Ratio0.6762_AL_.jpg" alt="Affiche du film">
            <h3>titre film</h3>
            <i class="fas fa-star"></i>
            <span>6.8</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eveniet iure? Vel minima assumenda corporis provident dolore consequuntur, vero odit facilis. Veniam qui minus ad ex distinctio quidem adipisci quod.</p>
        </div>
    </div>
</div>
{% endblock %}
