{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="card card-big">
        <img src="{{ movie.image }}" alt="Affiche film">
        <h1>{{ movie.title }}</h1>
        <span>{{ movie.year }}</span>
    </div>
</div>
{% endblock %}
