@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 50px;
    background-color: #101010;
    color: white;
}

.wrapper > h1 {
    margin-top: 0;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.card {
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #000000;
}

.card-big {
    padding: 80px;
}

.card-big > h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
}

.button > .far:not(:only-child), .button > .fas:not(:only-child) {
    margin-right: 10px;
}

.error-message {
    background-color: #e74c3c;
    padding: 20px;
    color: white;
    width: 90%;
    margin: auto;
    border-radius: 30px;
}

.primary-color {
    color: #fecc02;
}

/* MOVIE CARD */

.movie-year {
    font-size: 13px;
}

.popular-movies__movie:hover, .small-movie:hover {
    top: -10px;
}

.poster-movie-card {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.movies {
    display: flex;
}

.small-movie {
    margin: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    width: 200px;
}

.buttons-movie-card {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
}

.movie__info {
    padding: 16px 30px;
}

.movie__info > h3 {
    margin-top: 0;
}

.movie__info > p {
    margin-bottom: 0;
}

/* NABVAR */

.nav-bar {
    height: 80px;
    padding: 0 80px;
    background-color: #fecc02;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__left {
    height: 80%;
    display: flex;
}

.nav-bar__left > a > img {
    height: 100%;
}

.nav-bar__right {
    width: 400px;
}

.nav-bar-list {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.button-register {
    background-color: black;
    color: white;
}

/* FOOTER */

footer {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 100px;
    background-color: #1c1c1c;
    color: white;
    box-shadow: 0px 0px 3px 0px #000000;
}

/* INDEX */

.index__banner {
    height: 500px;
    padding: 50px;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url(https://i.ibb.co/F5ww3gs/image.png);
    background-size: cover;
}

.index__banner > h1 {
    margin-top: 0;
    font-size: 50px;
}

.index__banner > p {
    margin-top: 0;
    font-size: 20px;
}

.index__second-section {
    padding: 30px 100px;
    background-color: #101010;
    color: white;
    box-shadow: 0px 0px 2px 0px #000000;
}

.index__second-section > h1 {
    font-size: 40px;
    margin: 20px;
}

.second-section__popular-movies {
    display: flex;
}

.popular-movies__movie {
    margin: 20px;
    width: 100%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    max-width: 300px;
}

/* MOVIE */

.movie-card {
    display: flex;
}

.movie-card__movie-info-left {
    width: 30%;
    max-width: 350px;
    min-width: 200px;
}

.movie-card__movie-info-left > img {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000000;
    width: 100%;
}

.movie-card__movie-info-right {
    width: 70%;
    padding: 0 30px;
}

.movie-card__movie-info-right > h1 {
    margin-top: 0;
}

.button-add-cart {
    background-color: black;
}

.button-favorite {
    background-color: white;
    color: black;
}

/* CART */

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

td, th {
    padding: 20px;
}