<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Movie Town | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://kit.fontawesome.com/dd4bc6b830.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="nav-bar">
            <img src="{{ asset('images/logo.png') }}" alt="Logo Movie Town">
            <ul>
                <li><a href="login">Se connecter</a></li>
                <li><a href="register" class="button-register">Créer un compte</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
