{% extends 'base.html.twig' %}

{% block title %}Commande réalisée avec succès{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Merci !</h1>
    <span>Votre commande <a href="{{ path('order', {'reference': order.reference }) }}" class="primary-color">#{{ order.reference }}</a> a bien été effectuée.</span>
    <a class="button button-white" href="{{ path('order', {'reference': order.reference }) }}">Afficher ma commande</a>
</div>
{% endblock %}
